node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Dependency directories
jspm_packages/
bower_components/

# Build output
/dist
/out

# Editor settings
.vscode/
.idea/
.DS_Store
